---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header";
import "../styles/global.css";
import Baner from "../components/banner/Baner.astro";
import Collaborate from "../components/section/Collaborate.astro";
import Discover from "../components/section/Discover.astro";
---

<Layout title="llcomment">
  <main class="ssm:wfull md:w-[80%] flex flex-col items-center mx-auto">
    <Header client:visible />
    <Baner />
    <Collaborate />
    <Discover />
  </main>
  <style is:global>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "League Spartan", sans-serif;
    }
  </style>
</Layout>
