---
import LayoutSection from "../../layouts/LayoutSection.astro";
---

<LayoutSection title="collaborate">
  <section class="flex flex-col items-center py-8 px-12 my-9 bg-primary">
    <h2 class="w-full ssm:text-[2.4rem] font-semibold text-white">colabora</h2>
    <p class="prose text-white md:prose-xl text-start">
      Crea un artículo detallado y bien organizado sobre un tema de interés.
      Aborda diferentes aspectos y perspectivas para ofrecer una visión
      completa. Apoya tus ideas con ejemplos y datos relevantes, e incluye
      recursos visuales como imágenes o gráficos para enriquecer la comprensión
      del lector y hacerlo más atractivo.
    </p>
    <button
      class="text-white text-[1.3rem] border-2 border-white py-2 px-4 mt-8 hover:scale-105 transition duration-200"
      >colabora</button
    >
  </section>
</LayoutSection>
