---
import LayoutSection from "../../layouts/LayoutSection.astro";
---

<LayoutSection title="collaborate">
  <section class="flex flex-col items-center mt-10">
    <div>
      <h2 class="text-center text-primary ssm:text-[3rem] font-bold">
        colabora
      </h2>
      <p class="text-center prose sm:prose-base ssm:px-12 md:prose-xl">
        comparte algun tema que te guste y que creas que pueda ser de interes
        para los demas personas, ya sea desarrollo web, movil, diseño, etc. Todo
        es bienvenido.
      </p>
    </div>
  </section>
</LayoutSection>
