---
import LayoutSection from "../../layouts/LayoutSection.astro";
---

<LayoutSection title="footer">
  <footer class="mb-10">
    <p class="prose md:prose-xl">
      puedes revisar el repositorio <a
        href="https://github.com/INKINSS/llcomment">aqui</a
      > para contribuir
    </p>
  </footer>
</LayoutSection>
